.card {
    width: 45%;
    aspect-ratio: 2/3;
    background-color: var(--brown-menu);
    border-radius: 20px;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.background-card {
    width: 100%;
    height: calc(2/3*100%);
    border-radius: 20px 20px 0 0;
    display: flex;
}

.background-card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: fit-content;
}

.player-info {
    text-align: center;
    background-color: var(--brown-menu);
    color: var(--brown-text);
    height: calc(1/3*100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.player-info h3, .player-info p {
    margin: 0;
    padding: 0;
}

.player-info .stat {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
}

.player-info p {
    font-size: 12px;
    line-height: 16px;
    height: 25%;
}

.player-info h3 {
    height: 40%;
    font-size: 24px;
    line-height: 28px;
}
